:root {
  /* --font-main: system-ui, -apple-system, Roboto, Arial, sans-serif; */  /*  THIS IS FOR SYSTEM FONTS */
  --font-main: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  
  --bg:#ffffff;
  --header: #F08D39 ;
  --border:#eeeeee;
  --icon-bg:rgba(255,255,255,0.4) ;
  --text: #212529 ;

  --brand: #FFF;

  --backbtnBg: /* #f1f5f9  #F08D39 */ rgba(255,255,255,0.4) ;
  --backbtnclr: #000 ;
}

@media (prefers-color-scheme: dark) {
 :root {
      --body-bg: #16181d ;
      
      --header: #22252b ;
      --border:#2f3440;
      --icon-bg:#fff ;
      --text: #fff ;
   
      --brand: #F08D39;
   
      --backbtnBg: #171a20 ;
      --backbtnclr: #fff ;
    }
}
/**************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  user-select: none ;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-main);
  color: var(--text);
  animation: pageOpen 0.4s ease-out;
  background: var(--body-bg) ;
}
a { text-decoration:none; color:#fff; }

/*****************************************************/
/*******************************************/
header {
  padding:10px 16px;
  background:var(--header);
  border-bottom:1px solid var(--border);
  position: sticky; top: 0;
  display:flex;
  align-items:center;
  gap:10px;
  height: 58px ;
  max-height: 58px ;
}
.back-btn{
  width:38px;
  height:38px;
  background: var(--backbtnBg);
  color: var(--backbtnclr);
  border: none;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
}
/******************************************/
button, a {
  touch-action: manipulation;
}



