:root {
  --bg:#ffffff;
  --header: #fff ;
  --border:#eeeeee;
  --icon-bg:#fff ;
  --text:#222;

  --brand: #F08D39;
}

@media (prefers-color-scheme: dark) {
 :root {
   
    }
}
/*****************************************************/
header{
  position:sticky; top:0; z-index:1000; background:var(--bg);
  border-bottom:1px solid var(--border); padding:10px 16px;
  display:flex; align-items:center; justify-content:space-between;
  }
