:root {
  /* --font-main: system-ui, -apple-system, Roboto, Arial, sans-serif; */  /*  THIS IS FOR SYSTEM FONTS */
  --font-main: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  
  --bg:#ffffff;
  --header: #fff ;
  --border:#eeeeee;
  --icon-bg:#fff ;
  --text: #212529 ;

  --brand: #F08D39;

  --backbtnBg: #eaeaea ;
  --backbtnclr: #000 ;
}

@media (prefers-color-scheme: dark) {
 :root {
      --body-bg: #16181d ;
      
      --header: #22252b ;
      --border:#2f3440;
      --icon-bg:#fff ;
      --text: #fff ;
   
      --brand: #F08D39;
   
      --backbtnBg: #171a20 ;
      --backbtnclr: #fff ;
    }
}
/**************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  user-select: none ;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-main);
  color: var(--text);
  animation: pageOpen 0.4s ease-out;
  background: var(--body-bg) ;
}
/*****************************************************/
header{
  position:sticky; top:0; z-index:1000; background:var(--bg);
  border-bottom:1px solid var(--border); padding:10px 16px;
  display:flex; align-items:center; justify-content:space-between;
  }
