
/* ---------------- ROOT ---------------- */

:root{
--orange:#ff7a00;
--card1:linear-gradient(135deg,#fff7ed,#fef3c7);
--card2:linear-gradient(135deg,#eff6ff,#e0e7ff);
--card3:linear-gradient(135deg,#ecfeff,#cffafe);
--card4:linear-gradient(135deg,#f0fdf4,#dcfce7);
--card5:linear-gradient(135deg,#fdf2f8,#fce7f3);
--card6:linear-gradient(135deg,#eef2ff,#e0e7ff);
}

@media (prefers-color-scheme: dark) {
 :root {
/*  --card1:#F2676A;
  --card2:#1f2a3a;
  --card3:#6BCB77;
  --card4:#3a2d1f;
  --card5:#835AF1;
  --card6:#1f353a; */
  /* DARK THEME CARDS (optimized for #fff text) */

--card1: linear-gradient(135deg, #c2410c, #7c2d12);   /* Soft Orange */
--card2: linear-gradient(135deg, #7e22ce, #4c1d95);   /* Balanced Purple */
--card3: linear-gradient(135deg, #2563eb, #1e3a8a);   /* Indigo/Blue (Violet replace) */
--card4: linear-gradient(135deg, #a16207, #713f12);   /* Muted Yellow */
--card5: linear-gradient(135deg, #15803d, #14532d);   /* Deep Green */
--card6: linear-gradient(135deg, #0f766e, #042f2e);   /* Teal (NEW - premium feel) */
  }
}

/* ---------------- HEADER ---------------- */

.brand{
font-weight:650;
font-size:20px;
color:var(--brand);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Coin Button (Highlight) */
.coin-btn {
  background: var(--icon-bg);
  color: #000 ;
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  gap: 6px; transition:0.15s;
}

/* Circular Icon Buttons */
.icon-circle {
  width: 38px; color: #000 ;
  height: 38px;
  background: var(--icon-bg);
  border-radius: 50%;
  display: flex; transition:0.15s;
  align-items: center;
  justify-content: center;
  font-size: 16px; 
}
.icon-circle:active{ transform:scale(.96); }
.coin-btn:active{ transform:scale(.96); }

/* ---------------- QUIZ CARD ---------------- */

.quiz-card{
   border-radius:18px; aspect-ratio: 1/1 ;
   padding: 12px 20px;
   text-align:center;
   cursor:pointer;
   transition:0.15s;
   border: 1.6px solid transparent;
}

.quiz-card:active{ transform:scale(.96); }

/* ---------------- IMAGE ---------------- */

.quiz-img{
width: 100px;
height: 100px; aspect-ratio: 2/1.70 ;
object-fit: fill;
margin:auto;
margin-bottom:6px;
background: transparent;
padding:0px;
border-radius:10px;
}

/* ---------------- TEXT ---------------- */

.quiz-title{
font-size:14px;
font-weight:600;
margin-bottom:3px;
}

.quiz-sub{
font-size:12px;
opacity:.7;
}

/* ---------------- CARD COLORS ---------------- */

#quizContainer article:nth-child(6n+1) .quiz-card{background:var(--card1); border-color:#f59e0b;}
#quizContainer article:nth-child(6n+2) .quiz-card{background:var(--card2); border-color:#6366f1;}
#quizContainer article:nth-child(6n+3) .quiz-card{background:var(--card3); border-color:#06b6d4;}
#quizContainer article:nth-child(6n+4) .quiz-card{background:var(--card4); border-color:#22c55e;}
#quizContainer article:nth-child(6n+5) .quiz-card{background:var(--card5); border-color:#ec4899;}
#quizContainer article:nth-child(6n+6) .quiz-card{background:var(--card6); border-color:#8b5cf6;}

/* ---------------- SKELETON ---------------- */

.skeleton{
height:120px;
border-radius:18px;
background:linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
background-size:400% 100%;
animation:skeleton 1.2s infinite;

}

@keyframes skeleton{
0%{background-position:100% 0}
100%{background-position:0 0}
}

/* ---------------- ERROR MESSAGE ---------------- */

.error{
text-align:center;
padding:40px;
color:#888;

}

/******************* FLOATING NAVBAR *********†*****/
.bottom-nav{  
  position:fixed;  
  bottom:40px;  
  left:50%;  
  transform:translateX(-50%) translateY(0);  
  width:90%;  
  max-width:430px;  
  background:#fff;  
  border-radius:30px;  
  padding:0 10px;  
  display:flex;  
  justify-content:space-between;  
  align-items:center;  
  border:2px solid #fff;  
  outline:1px solid var(--orange);  
  z-index:999;  
  box-shadow:0 2px 6px rgba(255,122,0,0.35);  
  
  transition:
    transform .45s cubic-bezier(.22,1,.36,1),
    opacity .35s ease;
}  
  
/* HIDE NAVBAR */  
.bottom-nav.hide-nav{  
  transform:translateX(-50%) translateY(120px); 
  opacity:0;  
  pointer-events:none;  
}  
  
.nav-item{  
  flex:1;  
  text-align:center;  
  position:relative;  
  color:#000;  
  font-size:11px;  
  font-weight:600;  
}  
  
.nav-item i{  
  display:block;  
  font-size:22px;  
  margin-bottom:4px;  
  transition:0.2s ease;  
}  
  
.nav-item.active{  
  color:var(--orange);  
}  
  
.nav-item.active::before{  
  content:"";  
  position:absolute;  
  top:-4px;  
  left:50%;  
  transform:translateX(-50%);  
  width:24px;  
  height:4px;  
  border-radius:20px;  
  background:var(--orange);  
}  
  
/* PLAY BUTTON */  
.play-wrapper{  
  transform:translateY(-24px);  
}  
  
.play-btn{  
  width:60px;  
  height:60px;  
  border-radius:50%;  
  background:linear-gradient(135deg,var(--orange),#ff9d3d);  
  display:flex;  
  align-items:center;  
  justify-content:center;  
  color:#fff;  
  box-shadow:0 6px 20px rgba(255,122,0,0.35);  
  border:6px solid #fff;  
}  
  
.play-btn i{  
  font-size:30px;  
}  
  
.play-text{  
  text-align:center;  
  margin-top:4px;  
  font-size:11px;  
  font-weight:700;  
  color:var(--orange);  
}  


