
/* ---------------- ROOT ---------------- */

:root{
--card1:#ffd4d4;
--card2:#d6e2ff;
--card3:#d6ffe0;
--card4:#ffe9c9;
--card5:#ead6ff;
--card6:#d6f6ff;
}

:root {
  --card1:#3a1f24;
  --card2:#1f2a3a;
  --card3:#1f3a2b;
  --card4:#3a2d1f;
  --card5:#2d1f3a;
  --card6:#1f353a;
  }
}

/* ---------------- HEADER ---------------- */

.brand{
font-weight:650;
font-size:20px;
color:var(--brand);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff ;
}

/* Coin Button (Highlight) */
.coin-btn {
  background: var(--icon-bg);
  color: #fff ;
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  gap: 6px;
  text-decoration: none;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
}

/* Circular Icon Buttons */
.icon-circle {
  width: 38px;
  height: 38px;
  background: var(--icon-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.25s ease;
}

/* ---------------- QUIZ CARD ---------------- */

.quiz-card{
border-radius:18px;
padding: 20px;
text-align:center;
cursor:pointer;
transition:0.15s;
}

.quiz-card:active{
transform:scale(.96);
}

/* ---------------- IMAGE ---------------- */

.quiz-img{
width:60px;
height:60px;
object-fit:contain;
margin:auto;
margin-bottom:8px;
background:#ffffff;
padding:10px;
border-radius:10px;
}

/* ---------------- TEXT ---------------- */

.quiz-title{
font-size:14px;
font-weight:600;
margin-bottom:3px;
}

.quiz-sub{
font-size:12px;
opacity:.7;
}

/* ---------------- CARD COLORS ---------------- */

#quizContainer article:nth-child(6n+1) .quiz-card{background:var(--card1)}
#quizContainer article:nth-child(6n+2) .quiz-card{background:var(--card2)}
#quizContainer article:nth-child(6n+3) .quiz-card{background:var(--card3)}
#quizContainer article:nth-child(6n+4) .quiz-card{background:var(--card4)}
#quizContainer article:nth-child(6n+5) .quiz-card{background:var(--card5)}
#quizContainer article:nth-child(6n+6) .quiz-card{background:var(--card6)}

/* ---------------- SKELETON ---------------- */

.skeleton{
height:120px;
border-radius:18px;
background:linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
background-size:400% 100%;
animation:skeleton 1.2s infinite;

}

@keyframes skeleton{
0%{background-position:100% 0}
100%{background-position:0 0}
}

/* ---------------- ERROR MESSAGE ---------------- */

.error{
text-align:center;
padding:40px;
color:#888;

}

